.LoginView-label{
 display: block;  
}

.LoginView-input-email{
    margin-left: 38px

}
.LoginView-input-password{
    margin-left: 10px

}
.LoginView-btn{
    background-color: rgba(13, 0, 255, 0.597);
    padding: 5px 20px;
}