.contact-list-item{
    display: flex;
    padding: 5px;
    border: 1px solid grey;
    width: fit-content;
}
.contact-list-item-text{
    margin: 0;
}
.contact-list-item-btn{
    display: block;
    background-color: brown;
    padding: 0, 10px;
    margin: 0;
}
.contact-list-item-btn-text{
    margin: 0;
    padding: 0;
    color: cornsilk;
}